{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ΠΣΚΕ System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <button><a href="/register/">Προσθήκη Εταιρείας</a></button>
    <button><a href="/newuser/">Προσθήκη Χρήστη</a></button>
    <form action="/home/" method="post">
        {% csrf_token %}
        {% render_table table %}
    <input type="submit"/>
    </form>
</body>
</html>