{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ΠΣΚΕ System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <button><a href="/register/">Προσθήκη Εταιρείας</a></button>
    <button><a href="/newuser/">Προσθήκη Χρήστη</a></button>
    <form action="/home/" method="post">
        {% csrf_token %}
        {% render_table table %}
    <input type="submit"/>
    <input type="button" id='edit_btn' value='Edit'/>
    </form>
<script>
    $(function() {
        $("#edit_btn").click(edit_handler)
    });

    function edit_handler(){
        let $myCheckboxes = $("input[type=checkbox]:checked")
        let clientId = parseInt($("input[type=checkbox]:checked")[0]?.value)
        if ($myCheckboxes.length != 1 || clientId === NaN) {
            alert('Check your selection')
            return;
        }
        window.location.pathname= `/admin/clients/clients/${clientId}/change/`;
        //window.location.pathname= `/clients/${clientId}/edit/`; 
    }
</script>
</body>
</html>