<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ΠΣΚΕ System</title>
</head>
<body>
    <button><a href="/register/">Προσθήκη Εταιρείας</a></button>
    <button><a href="/newuser/">Προσθήκη Χρήστη</a></button>
    <table>
        <tr>
            <th>Επώνυμο / Επωνυμία</th>
            <th>Όνομα</th>
            <th>ΑΦΜ</th>
            <th>Τηλέφωνο</th>
            <th>E-mail</th>
            <th>Διεύθυνση</th>
        </tr>
        {% for item in client_number %}
        <tr> 
            <td>{{ item.sirname }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.vat }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.address }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>